In [4]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect("sql-murder-mystery.db")

# Get the crime scene report
crime_query = """
SELECT * FROM crime_scene_report
WHERE date = 20180115 AND city = 'SQL City';
"""
crime_report = pd.read_sql_query(crime_query, conn)
print("Crime Scene Report:")
print(crime_report)

# Select related interviews
interview_query = """
SELECT * FROM interview
WHERE person_id IN (
    SELECT person_id FROM person
    WHERE address_street_name = 'Northwestern Dr'
);
"""
interviews = pd.read_sql_query(interview_query, conn)
print("\nInterviews:")
print(interviews)

# Select suspects based on check-ins/memberships
checkin_query = """
SELECT * FROM get_fit_now_check_in
WHERE check_in_date = 20180115;
"""
checkins = pd.read_sql_query(checkin_query, conn)
print("\nGym Check-Ins:")
print(checkins)

# Select members linked to check-ins
member_query = """
SELECT * FROM get_fit_now_member
WHERE person_id IN (SELECT person_id FROM get_fit_now_check_in WHERE check_in_date = 20180115);
"""
members = pd.read_sql_query(member_query, conn)
print("\nGym Members:")
print(members)

# Check driver's license data
driver_query = """
SELECT * FROM drivers_license
WHERE id IN (SELECT license_id FROM person WHERE name LIKE '%');
"""
drivers = pd.read_sql_query(driver_query, conn)
print("\nDriver's License Data:")
print(drivers)

# Check financial records
income_query = """
SELECT * FROM income
WHERE ssn IN (SELECT ssn FROM person WHERE name LIKE '%');
"""
income = pd.read_sql_query(income_query, conn)
print("\nIncome Records:")
print(income)

# Close the connection
conn.close()

Crime Scene Report:
       date     type                                        description  \
0  20180115  assault  Hamilton: Lee, do you yield? Burr: You shot hi...
1  20180115  assault                                   Report Not Found
2  20180115   murder  Security footage shows that there were 2 witne...

       city
0  SQL City
1  SQL City
2  SQL City

Interviews:
      person_id                                         transcript
0         28508                ‘I deny it!’ said the March Hare.\n
1         63713                                                 \n
2         86208      way, and the whole party swam to the shore.\n
3         35267  lessons in here? Why, there’s hardly room for ...
4         33856                                                 \n
...         ...                                                ...
4986      37357  Alice did not wish to offend the Dormouse agai...
4987      10206  time,’ she said, ‘than waste it in asking ridd...
4988      14887  I heard a gunshot and then saw a man run out. ...
4989      16371  I saw the murder happen, and I recognized the ...
4990      67318  I was hired by a woman with a lot of money. I ...

[4991 rows x 2 columns]

Gym Check-Ins:
  membership_id  check_in_date  check_in_time  check_out_time
0         D2KY6       20180115            746             836
1         344VM       20180115           1087            1195
2         3BRSC       20180115            354             825
3         HM6U8       20180115            525             800

Gym Members:
        id  person_id                name  membership_start_date  \
0    NL318      65076     Everette Koepke               20170926
1    AOE21      39426        Noe Locascio               20171005
2    2PN28      63823  Jeromy Heitschmidt               20180215
3    0YJ24      80651      Waneta Wellard               20171206
4    3A08L      32858        Mei Bianchin               20170401
..     ...        ...                 ...                    ...
179  2V137      41693      Wendell Dulany               20171219
180  4KB72      79110          Emile Hege               20170522
181  48Z7A      28819        Joe Germuska               20160305
182  48Z55      67318       Jeremy Bowers               20160101
183  90081      16371      Annabel Miller               20160208

    membership_status
0                gold
1             regular
2              silver
3                gold
4              silver
..                ...
179            silver
180           regular
181              gold
182              gold
183              gold

[184 rows x 5 columns]

Driver's License Data:
           id  age  height eye_color hair_color  gender plate_number  \
0      100280   72      57     brown        red    male       P24L4U
1      100460   63      72     brown      brown  female       XF02T6
2      101029   62      74     green      green  female       VKY5KR
3      101198   43      54     amber      brown  female       Y5NZ08
4      101255   18      79      blue       grey  female       5162Z1
...       ...  ...     ...       ...        ...     ...          ...
10001  999923   19      77     amber      black  female       5L0ZI4
10002  999940   71      61     green      green    male       1B8QN8
10003  999981   67      69     brown       blue  female       1684K3
10004  999986   49      58     green       grey    male       F8F64H
10005  999993   18      63     black      black  female       6UZO2O

         car_make    car_model
0           Acura          MDX
1        Cadillac          SRX
2           Scion           xB
3          Nissan        Rogue
4           Lexus           GS
...           ...          ...
10001         GMC  Sierra 3500
10002  Mitsubishi      Eclipse
10003  Land Rover          LR2
10004       Lexus           LS
10005    Cadillac      DeVille

[10006 rows x 9 columns]

Income Records:
            ssn  annual_income
0     100009868          52200
1     100169584          64500
2     100300433          74400
3     100355733          35900
4     100366269          73000
...         ...            ...
7509  999679296          54400
7510  999762859          77000
7511  999824984          82000
7512  999910617          82600
7513  999942603          11500

[7514 rows x 2 columns]